<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/head.ejs') %>
    <body>
        <%- include('./layouts/nav.ejs') %>  
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('<%= post.image %>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>404 PAGE NOT FOUND.</h1>
                            <h2 class="subheading"><a href="/">Return Home</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header> 
        <%- include('./layouts/footer.ejs') %>  

    </body>
       
        
</html>